{% extends 'blog/base.html' %}
{% block title %}
    About_Blog
{% endblock title %}

{% block content %}

  <div align=center class="container text-muted adiv" style="font-family:'Poppins',sans-serif;background-color:white;padding:20px;margin-top:20px;border-radius:10px;width:400px">
    <h1 class="mb-4">About Blog</h1>
      <p>Whether sharing your expertise, breaking news, or whatever’s on your mind,
          you’re in good company on BlogSite. Sign up to discover why millions of people have published
          their passions here.</p>
  </div>
{% endblock %}